
.botonTransition{
  transition: 0.2s linear;
}

.botonNormal {
  //@extend .botonTransition;
  background-image: url('../imagenes/botones/boton_normal.png');
  background-size: 100% 100%;
  border: none;
  text-decoration: none;
  color: $boton_normal_texto;
  margin-top: 3px;
  margin-bottom: 3px;



  text-shadow: 1px 1px 1px #000;

  outline: none;
  cursor: pointer;
  text-align: center;

  font-family: 'FuturaStd', arial, serif;
  font-weight: normal;
  font-style: normal;
}

.botonNormal:hover {
  background-image: url('../imagenes/botones/boton_normal_hover.png');
  color: $boton_normal_texto_hover;
  /* background-color: #FFFFFF;*/
}

.botonNormal:active {
  background-image: url('../imagenes/botones/boton_normal_push.png');
  color: $boton_normal_texto_pressed;
  /*text-shadow: none;*/
}

.botonCerrar {
  display: block;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 14px;
  height: 13px;
  border: none;
  background: url('../imagenes/X.png') no-repeat center center;
  cursor: pointer;
}

.botonCerrar:hover {
  background: url('../imagenes/X_hover.png') no-repeat center center;
}

.botonInvisible {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  /*DEBUG:*/
  outline: dashed 2px green;
}

.botonImagen {
  width: auto;
  height: auto;
  cursor: pointer;
  background: Transparent no-repeat;
  background-size: contain;
  border: none;
  outline: none;
}

/*
.botonCerrar {
    background-size: 100% 100%;
    width: 28px;
    height: 26px;
    cursor: pointer;
    background-color: Transparent;
    border: none;
    outline: none;
    background-image: url("../imagenes/botonX.jpg");
    display: inline-block;
}
.botonCerrar:active {
    background-image: url("../imagenes/botonX-pressed.jpg");
}
.botonCerrar:hover {
    background-image: url("../imagenes/botonX-hover.png");
}
.botonNormal {
    background-image: url(../imagenes/boton-normal.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border: none;
    outline: none;
    cursor: pointer;
    height: 35px;
    width: 160px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 1px #333;
}
.botonNormal:active {
    background-image: url(../imagenes/boton-normal-pressed.png);
    color: grey;
}*/