/*#crearPJ {margin:5vh;}
#crearPJ input {margin-bottom:16px;font-size:14px; clear:both; width:150px; float:right; margin-right:43%;}
/*#crearNombreInput {margin:20vh;}*/
//
//#crearPJ {height:100%;width:100%;}
//
//#crearPjCenter {width:100%;overflow:auto;padding-top:6vh;padding-bottom:3vh;}
//#crearPjSeleccion {float:right;margin-right:35%}
//#crearPjSeleccion select {font-size:14px;margin-top:7px;margin-bottom:34px;display:block;}
//#crearPjSeleccion option {font-size:14px;}
//
//#crearPjAtributos {float:right;margin-right:152px;line-height:30px;padding:5px;}
//#crearPjAtributos span { font-size:20px; color:yellow; width:100%; text-align: center; display: block}
//#crearDadoFuerza {margin-top:2vh;}
//
//#crearPjSeleccionCabezaDiv {margin-bottom:70px;}
//#crearPjSeleccionCabeza {border: solid 2px white;padding:2px;width:160px;height:32px;margin-left:auto;margin-right:auto; overflow:auto;}
//#crearPjSeleccionCabeza.itemgrid li {background-size: 136px 100px}
#crearBotonGeneroFemenino {
  @extend .selected_border;
  width: 60px;
  height: 60px;
  background-position: center;
  background-image: url('../imagenes/interfaz/iconos/gender_icon_female.png'), url('../imagenes/botones/bg_square_button.png');
  background-repeat: no-repeat;
  background-size: 60%, contain;

  border-color: transparent;
}

#crearBotonGeneroFemenino.selected {
  @extend .selected_border;
}

#crearBotonGeneroMasculino {
  @extend .selected_border;
  width: 60px;
  height: 60px;
  background-position: center;
  background-image: url('../imagenes/interfaz/iconos/gender_icon_male.png'), url('../imagenes/botones/bg_square_button.png');
  background-repeat: no-repeat;
  background-size: 70%, contain;
  border-color: transparent;
}

#crearBotonGeneroMasculino.selected {
  @extend .selected_border;
}

#crearPjSeleccionCabezaBotonIzq {
  display:inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../imagenes/botones/arrow_left.png')
}

#crearPjSeleccionCabezaBotonDer {
  display:inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../imagenes/botones/arrow_right.png')
}

#crearPjSeleccionCabezaImagenIzq {
  box-sizing:content-box;
  display:inline-block;
  width: 28px;
  height: 33px;
  background-size: 400%;
  margin-right: 4px;
  margin-left: 4px;
}

#crearPjSeleccionCabezaImagenCenter {
  box-sizing:content-box; // no tomar al borde como parte del tamaño total
  display:inline-block;
  width: 34px;
  height: 40px;
  background-size: 400%;
  margin-right: 4px;
  margin-left: 4px;
}

#crearPjSeleccionCabezaImagenDer {
  box-sizing:content-box;
  display:inline-block;
  width: 28px;
  height: 33px;
  background-size: 400%;
  margin-right: 4px;
  margin-left: 4px;
}

#crearPjImagenPersonaje { // 30x 45
  display:inline-block;
  width: 50px;
  height: 90px;
  background-size: 600%;
  margin-top:11px;
}

#crearPjImagenCabezaPersonaje { // 17x16
  display:inline-block;
  position:absolute;
  right:11px;
  width: 28px;;
  height: 33px;
  background-size: 400%;
}

#crearPjImagenCabezaPersonaje.petizo {
  margin-top:19px;
}