/* General Layout */
.background_default {
  background: url("../imagenes/background.png") repeat;
}

//html, body {
//  height: 100%;
//}

#menuJuego, #chatbox, footer, #container {
  @extend .noselect;
}

body {
  padding: 0;
  margin: 0;
  background: url("../imagenes/background_images/login.png");
  background-size: cover;

  overflow: hidden;
  border-top: 2px solid #707070;
}

.preload {
  display: none;
}

/* States & Transitions */
#container {
  z-index: 10;
  background: rgba(0, 0, 0, 0);
  transition: 1s opacity linear 0.5s;
}

#container {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
}


/* el width de setea para que quede del ratio adecaudo en el programa de js */

.login #container, .jugar #container, .crear #container {
  display: block;
}

.login #juego, .login #crearPJ {
  display: none;
}

.login #conectar {
  display: block;
}

.crear #juego, .crear #conectar {
  display: none;
}

.crear #crearPJ {
  display: block;
}

.jugar #crearPJ, .jugar #conectar {
  display: none;
}

.jugar #juego {
  display: flex;
  flex-direction: row;
}
/* Tamaño contenedor (width seteado en js) */

@media screen and (min-aspect-ratio: 7/5) and (max-aspect-ratio: 8/5) {
  #container {
    height: 85%;
  }
}

@media screen and (min-aspect-ratio: 13/10) and (max-aspect-ratio: 7/5) {
  #container {
    height: 80%;
  }
}

@media screen and (min-aspect-ratio: 6/5) and (max-aspect-ratio: 13/10) {
  #container {
    height: 75%;
  }
}

@media screen and (max-aspect-ratio: 6/5) {
  #container {
    height: 65%;
  }
}

/* Footer */

.facebook {
  background: url('../imagenes/facebook.png');
}

.twitter {
  background: url('../imagenes/twitter.png');
}

footer {
  position: absolute;
  bottom: 3%;
  left: 0;
  text-align: center;
  width: 100%;
  color: #c6c0a3;
  transition: 0.2s opacity linear;
}

footer:hover {
  opacity: 1;
}

footer div {
  font-size: 16px;
  display: inline-block;
}

footer a {
  font-size: 16px;
}

#sharing a {
  display: block;
  float: right;
  position: relative;
  top: -2px;
}

#sharing .facebook {
  height: 22px;
  width: 22px;
  background-size: cover;
  margin: 0 12px 0 12px;
}

#sharing .twitter {
  height: 22px;
  width: 32px;
  background-size: cover;
  margin: 0 12px 0 0;
}

#legal-link a, #credits-link a, #privacy-link a {
  text-decoration: none;
  color: inherit;
}

#credits-link a:hover, #privacy-link a:hover, #legal-link a:hover {
  color: #fcda5c;
  cursor: pointer;
}

#sharing a:hover {
  transform: scale(1.2);
}

#sharing a:active {
  transform: scale(1);
}