/* General Layout */
.background_default {
  background: url("../imagenes/background.png") repeat;
}

#menuJuego, #chatbox, footer, #container {
  @extend .noselect;
}

html, body {
  width:100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: url("../imagenes/background_images/login.png");
  background-size: cover;
  background-position: center; // dejar para que clipee de arriba y abajo
  background-repeat: no-repeat;
  background-attachment: fixed;
  //overflow: hidden;
  border-top: 2px solid #707070;
}

.preload {
  display: none;
}

/* States & Transitions */
#container {
  background: rgba(0, 0, 0, 0);
  transition: 1s opacity linear 0.5s;
}

#container {
  position: absolute;
  top: 0;
  bottom: 4%;
  left: 0;
  right: 0;
  margin: auto;
}

.login #container, .jugar #container, .crear #container {
  display: block;
}

.login #juego, .login #crearPJ {
  display: none;
}

.login #conectar {
  display: flex;
}

.crear #juego, .crear #conectar {
  display: none;
}

.crear #crearPJ {
  display: block;
}

.jugar #crearPJ, .jugar #conectar {
  display: none;
}

.jugar #juego {
  display: flex;
  flex-direction: row;
}