/* General Layout */
.background_default {
  background: url("../imagenes/background.png") repeat;
}

#menuJuego, #chatbox, footer, #container {
  @extend .noselect;
}

html, body {
  width:100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: url("../imagenes/background_images/login.png");
  background-size: cover;
  background-position: center; // dejar para que clipee de arriba y abajo
  background-repeat: no-repeat;
  background-attachment: fixed;
  //overflow: hidden;
  border-top: 2px solid #707070;
}

body {background:-moz-radial-gradient(rgba(0,0,0,0) 40%,rgba(0,0,0,1) 125%), url('../imagenes/background_images/wood2.png') no-repeat 1587px 138px, url('../imagenes/background_images/wood2.png') no-repeat 51px 519px, url('../imagenes/background_images/wood3.png') no-repeat 228px 219px, url('../imagenes/background_images/wood.png') repeat, #000; background-size:auto, 15px auto, 15px auto, 60px auto, 384px;}
body {background:-webkit-gradient(radial, center center, 360, center center, 1200, from(rgba(0,0,0,0)), to(rgba(0,0,0,1))), url('../imagenes/background_images/wood2.png') no-repeat 1587px 138px, url('../imagenes/background_images/wood2.png') no-repeat 51px 519px, url('../imagenes/background_images/wood3.png') no-repeat 228px 219px, url('../imagenes/background_images/wood.png') repeat, #000; background-size:auto, 15px auto, 15px auto, 60px auto, 384px;}

.preload {
  display: none;
}

/* States & Transitions */
#container {
  background: rgba(0, 0, 0, 0);
  transition: 1s opacity linear 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  position: absolute;
  top: 0;
  bottom: 4%;
  left: 0;
  right: 0;
  margin: auto;
}

.jugar #container{
  display: block;
}

.login #juego, .login #crearPJ {
  display: none;
}

.login #conectar {
  display: flex;
  text-align: center;
  align-content: flex-start;
  align-items: flex-start;
}

.crear #juego, .crear #conectar {
  display: none;
}

.crear #crearPJ {
  display: block;
}

.jugar #crearPJ, .jugar #conectar {
  display: none;
}

.jugar #juego {
  display: flex;
  flex-direction: row;
}