// cambair el default, que usa el de webkit (-webkit-focus-ring-color) (que es azul) a $border_focus_color
// >>>>>>>>>>>>>> ¡¡OJO!! !important <<<<<<<<<<<<<<<<
:focus {
  outline-color: $border_focus_color !important;
}

/* chrome cambia el color de background del input a amarillo cuando se usa autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $input-bg inset;
  -webkit-text-fill-color: $input-color !important;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $input-bg inset;
  -webkit-text-fill-color: $input-color !important;
}

/* scrollbars webkit */
::-webkit-scrollbar-track
{
  border-radius: 4px;
  background-color: #2c2720;
}

::-webkit-scrollbar
{
  width: 8px;
  background-color: #5c3a21;
}

::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  background-color: #5c3a21;
}