#intro {
  -moz-transition: 0.4s opacity linear;
  -webkit-transition: 0.4s opacity linear;
  -o-transition: 0.4s opacity linear;
  -ms-transition: 0.4s opacity linear;
  transition: 0.4s opacity linear;
}

.intro #container {
  display: none;
}