.itemgrid {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 160px;
}

.itemgrid li {
  background-size: 100% 100%;
  background-color:  rgba(255, 255, 255, 0.1);
  float: left;
  width: $anchoItems;
  color: white;
  height: $altoItems;
  font-size: 2vh;
  text-align: left;
  vertical-align: text-top;
  cursor: default;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 1px;
  margin: 1px;
}

.itemgrid li.equiped {
  background-color: rgba(138, 243, 255, 0.5);
  border-style: solid;
  border-width: 1px;
}

.itemgrid li.selected {
  border-color: limegreen;
  border-style: solid;
  border-width: 1px;
}