.itemgrid {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 160px;
}

//slots
.itemgrid > li {
  background-size: 100% 100%;
  background-color:  rgba(255, 255, 255, 0.1);
  float: left;
  width: $anchoItems;
  height: $altoItems;
  border-color: rgba(255, 255, 255, 0.5);
  cursor: default;
  border-style: solid;
  border-width: 1px;
  margin: 1px;
}

//items
.itemgrid > li > li {
  width:100%;
  height:100%;
  background-size: 100% 100%;
  border: 0;
  margin : 0;
  color: white;
  font-size: 2vh;
  text-align: left;
  vertical-align: text-top;
}

.itemgrid li.equiped {
  background-color: rgba(123, 214, 224, 0.5);
}

.itemgrid li.selected {
  border-color: limegreen;
  border-style: solid;
  border-width: 1px;
}