.itemgrid {
  flex: 1;
  overflow-y: auto;
  list-style-type: none;
  padding: 3px;
  width: 160px;
  height:100%;
  border: 1px solid $border_focus_color; // TODO: mismo interfaz
  margin-top: 0;
  margin-bottom: 0;
}

.dialogContent .itemgrid li {
  font-size: 13px;
}


//slots
.itemgrid > li {
  background-size: 100% 100%;
  background-image: url('../imagenes/slot.png');
  float: left;
  width: $anchoItems;
  height: $altoItems;
  cursor: default;
  border:none;
  margin: 1px;
}

//items
.itemgrid > li > li {
  width:100%;
  height:100%;
  background-size: 100% 100%;
  color: white;
  font-size: 2vh;
  text-align: left;
  vertical-align: text-top;
  margin : 0;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
}

.itemgrid li.equiped {
  background-color: rgba(222, 139, 71, 0.4);
}

.itemgrid li.selected {
  border-color: #FF9800;
}

.itemgrid-container {
  padding: 3px;
}