//#logo {margin-top:10vh;margin-bottom:10vh;}
//
//#loginBox{margin-bottom:3vh;width:10%;}
#conectar {
  margin-top: 9vh;
}

#loginBox {
  margin-top: 6vh;
  width:300px;
}

#loginNombre{
  width:70%;
  margin-top: 20px;
}

#loginContrasenia{
  width:70%;
  margin-top: 10px;
  margin-bottom: 24px;
}

#botonCrearPJ{
  margin-bottom: 16px;
}