//#logo {margin-top:10vh;margin-bottom:10vh;}
//
//#loginBox{margin-bottom:3vh;width:10%;}

//#conectar {
//  margin-top: 9vh;
//}

#logo{
  background: url("../imagenes/logo.png");
  background-size: contain;
  background-position: center; // dejar para que clipee de arriba y abajo
  background-repeat: no-repeat;
  margin-top: 5%;
  width:650px;
  height: 275px;
  text-align: center;
}

#loginBox {
  margin-top: 7vh;
  width:20%;
  min-width:200px;
  max-width:300px;
}

#loginNombre{
  width:70%;
  margin-top: 2vh;
}

#loginContrasenia{
  width:70%;
  margin-top: 1vh;
  margin-bottom: 2.4vh;
}

#botonCrearPJ{
  margin-bottom: 1.6vh;
}