#logo {margin-top:10vh;margin-bottom:10vh;}

#loginNombre{font-size:14px;margin-bottom:3vh;}
#loginContrasenia{font-size:14px; margin-bottom:6vh;}

#botonJugar{margin-bottom:2vh;}
#botonCrearPJ{margin-bottom:3vh;}