.horizontal_center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.noselect {
  user-select: none;
}

.divImagen {
  width: auto;
  height: auto;
  background: Transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

/* elemento que estando en un container flex se expande y al haber overflow se scrollea (por ej grids items comerciar) */
.scrollFlex {
  flex: 1;
  overflow-y: auto;
  padding-right: 2px;
}