.horizontal_center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.noselect {
  user-select: none;
}

.divImagen {
  width: auto;
  height: auto;
  background: Transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}