$anchoIconos: 25px;
$altoIconos: 25px;
$anchoItems: 50px;
$altoItems: 50px;

$color_texto: #978577;
$color_texto_input: #9f8e80;//#665a51;

$border_focus_color : #978471;

$barra: #5e4f32;
$barra_hover: #866c3c;

$active_font: #977841;
$important_font: #dea53d;
$indicator_font: #8f8766;
$background_font: #554b3f;
$disabled_font: #575757;
$gold_currency_color: #a88954;
$menu_background_color: #846f62;

$form_elements_border_color : #453c36;
$form_elements_item_color: #978471;
$form_elements_background_color: #191411;

$boton_normal_texto: white;
$boton_normal_texto_hover: white;
$boton_normal_texto_pressed: white;