/*Interfaz: elementos dentro de la pantalla de juego (inventario, etc)*/

#gamecanvas.crosshair {cursor:crosshair;}

#bordeIzquierda {background-size: 100% 100%; position:absolute; height:100%; width:1.375%;background-image:url('../imagenes/interfaz/bordeIzquierda.png');}
#bordeArriba {background-size: 100% 100%;position:absolute; width:100%; height:7.8%;background-image:url('../imagenes/interfaz/bordeArriba.png')}
#bordeAbajo {background-size: 100% 100%; position:absolute; width:100%; height:9.6%; top:90.4%; background-image:url('../imagenes/interfaz/bordeAbajo.png')}

#bordeDerecha {background-size: 100% 100%;position:absolute; height:100%; width:30.6%; left:69.4%;background-image:url('../imagenes/interfaz/bordeDerecha.png')}

#InventarioHechizos {background-size: 100% 100%; position:absolute; width:80.816%; height:56.4%; left:10.61%; top:2.8%;}
#InventarioHechizos {background-image:url('../imagenes/interfaz/centroHechizos.jpg');}
#botonInventario {position: absolute;left:0%; top:0%; width: 48.5%; height:14.2%;}
#botonHechizos {position: absolute; left:48.5%; top:0%; width: 51.5%; height:14.2%;}
#botonLanzar {position: absolute;left:0%; top:82%; width: 50%; height:12%;}
#botonInfo {position: absolute; left:50%; top:82%; width: 50%; height:12%;}
#itemsGrid {position: absolute; left:8.6%; top:15%; width: 80.9%; height:56.74%; display:none;}
#itemsGrid li {width: 20%; height: 20%; font-size: 1em;}
#hechizos {color: white; background: black;position: absolute; left:5.6%; top:14.19%; width: 90%; height:63.8%;}

.inventarioActivo #botonInfo {display:none;}
.inventarioActivo #botonLanzar {display:none;}
.inventarioActivo #hechizos {display:none;}
.inventarioActivo #itemsGrid {display:inline-block;}
.inventarioActivo #InventarioHechizos {background-image:url('../imagenes/interfaz/centroInventario.jpg');}

#barras span {color:white;display: inline-block;position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto;text-align: center; font-size: 0.8em;}
#barraEnergia, #barraMana, #barraSalud, #barraHambre, #barraSed {background-color: Transparent; position: absolute; left:11.84%; width: 30.6%; height:2.2%;}
#barraEnergia {top:68.6%;}
#barraMana {top:73.4%;}
#barraSalud{top:77.6%;}
#barraHambre {top:82.2%;}
#barraSed {top:86.4%;}
#barraEnergiaUsada, #barraManaUsada, #barraSaludUsada, #barraHambreUsada, #barraSedUsada {background-color: black;float:right; height:100%; width:30%; outline: dashed 2px green;}

#barraExp span {color:white;display: inline-block;position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto;text-align: center; font-size: 0.8em;}
#barraExp {background-color: Transparent; position: absolute; top:28.1%; left:3.875%; width: 62.875%; height:38.8%;}
#barraExpUsada {float:left; height:100%; width:30%; background:url('../imagenes/interfaz/barraExp.png');background-size: cover; }

