/* Eric Meyer's CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Typography*/		

@font-face {
    font-family: 'GraphicPixel';
    src: url('../fonts/graphicpixel-webfont.eot');
    src: url('../fonts/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/graphicpixel-webfont.woff') format('woff'),
    url('../fonts/graphicpixel-webfont.ttf') format('truetype'),
    url('../fonts/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdvoCut';
    src: url('../fonts/advocut-webfont.eot');
    src: url('../fonts/advocut-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/advocut-webfont.woff') format('woff'),
    url('../fonts/advocut-webfont.ttf') format('truetype'),
    url('../fonts/advocut-webfont.svg#AndinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.gp {font-family: 'GraphicPixel', sans-serif;}


@font-face{
    font-family:'Asul'; 
    src:url(../fonts/asul-regular.eot)
}

@font-face{
    font-family:'Asul'; 
    src:url(../fonts/asul-regular.ttf)
}

.fontAsul {
    font-family:'Asul',serif;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}
/*
*{
    font-family:'Asul',serif;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    }*/

    /* General Layout */	


    html {-webkit-text-size-adjust: 100%}
    html, body {height:100%;}

    body {padding:0;margin:0;background:#111;overflow:hidden;border-top:2px solid #707070;}




    canvas { position:absolute;image-rendering:auto;}
    #gamecanvas { background:url('../img/common/loading.png') no-repeat center center, #000;}
    
    #canvas, #bar-container, #chatbox, #canvasborder, footer, #container, #achievement-notification {-moz-user-select:none;-webkit-user-select:none;-o-user-select:none;-ms-user-select:none;}

    /*.started #canvas {cursor:none;}*/

   h1 {font-weight:normal;}

   .preload {display:none;}



   /* States & Transitions */



   #intro {-moz-transition:0.4s opacity linear;-webkit-transition:0.4s opacity linear;-o-transition:0.4s opacity linear;-ms-transition:0.4s opacity linear;transition:0.4s opacity linear;}
   #container {z-index:100;background:rgba(0,0,0,0);-moz-transition:1s opacity linear 0.5s;-webkit-transition:1s opacity linear 0.5s;-o-transition:1s opacity linear 0.5s;-ms-transition:1s opacity linear 0.5s;transition:1s opacity linear 0.5s;}
   .intro #container {display:none;}
   .login #container, .jugar #container, .crear #container {display:block;}
   .login #juego, .login #crearPJ {display:none;} .login #conectar {display:block;}
   .crear #juego, .crear #conectar {display:none;} .crear #crearPJ {display:block;}
   .jugar #crearPJ, .jugar #conectar {display:none;} .jugar #juego {display:block;}

   /*  ACA: */

   #crearPJ span {color:white;display: inline-block;} /*<<-- TEMPORAL <<-*/


   body {background:-moz-radial-gradient(rgba(0,0,0,0) 40%,rgba(0,0,0,1) 125%), url('../graficos/ui/presentacion.jpg') no-repeat center center, #000; background-size:auto;}
   body {background:-webkit-gradient(radial, center center, 360, center center, 1200, from(rgba(0,0,0,0)), to(rgba(0,0,0,1))), url('../graficos/ui/presentacion.jpg') no-repeat center center, #000; background-size:auto;}

   #container {background:#000;width: 10px; height: 90%; position: absolute; top:0; bottom: 5%; left: 0; right: 0; margin: auto;} /* el width de setea para que quede del ratio adecaudo en el programa de js */

   #gamecanvas {position:absolute;top:7.8%;left:1.45%;z-index: -2} /* margenes de la interfaz */

   #chatbox {height:6.5%;width:63%;position:absolute;left:4%;top:92%} 
   #chatbox.active {top:85.5%;}
   #chatbox input {font-size:12px;background:none;width:100%;border:0;margin-left:2%;margin-top:2%}
   #chatbox {background-image:url('../graficos/ui/chatbox.png'); 
   /*tamaño img conteindo en barra:*/
   -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../graficos/ui/chatbox.png', sizingMethod='scale')";
   -webkit-background-size: 100% 100%;           /* Safari 3.0 */
   -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
   -o-background-size: 100% 100%;           /* Opera 9.5 */
   background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
   -moz-border-image: url(bg-image.png) 0;    /* Gecko 1.9.1 (Firefox 3.5) */
   background-size: contain;
   /*fin tamaño img*/
   z-index: -1;-moz-transition:0.2s top ease;-webkit-transition:0.2s top ease;-o-transition:0.2s top ease;-ms-transition:0.2s top ease;transition:0.2s top ease;}
   #chatinput {color:#eee;}
   #chatinput.placeholder {color:#aaa;}

  @media screen and (min-height: 500px) and (max-height: 650px)  { /* Cuando el tamaño de la ventana es similar al original, pongo tamaño nativos de graficos asi no se peirde perfomance en hacer agrandarlos y se ve mejor*/
      #container {height:500px;}
  }

  @media screen and (max-height: 500px){ /* Pantalla menor a 500px hacemos que el jugar ocupe la pantalla entera */
      #container {height:100%;}
  }


  /* Footer */

  .facebook {background:url('../imagenes/facebook.png');}
  .twitter{background:url('../imagenes/twitter.png');}

  footer {font-size: 2vh; position:absolute;bottom:3%;left:0;text-align:center;width:100%;color:#c6c0a3;-moz-transition:0.2s opacity linear;-webkit-transition:0.2s opacity linear;-o-transition:0.2s opacity linear;-ms-transition:0.2s opacity linear;transition:0.2s opacity linear;}

  footer:hover {opacity:1;}
  footer div  {display:inline-block;}
  #sharing a {display:block;float:right;position:relative;top:-2px;}
  #sharing .facebook {height:22px;width:22px;background-size: cover;margin:0 12px 0 12px;}
  #sharing .twitter {height:22px;width:32px;background-size:     cover;margin:0 12px 0 0;}
  #legal-link a, #credits-link a, #privacy-link a {text-decoration:none;color:inherit;}
  #credits-link a:hover , #privacy-link  a:hover, #legal-link a:hover{color:#fcda5c;cursor:pointer;}
  #sharing a:hover {-moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
  #sharing a:active {-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);transform:scale(1);}


  .thingy {height:10px;width:11px;background:url('../img/common/thingy.png');margin:0 auto;margin-top:-10px;top:10px;position:relative;}

  .alert {height:50px;background:#d83939;width:100%;color:#eee;font-size:20px;font-family:'GraphicPixel', arial, sans-serif;text-align:center;line-height:50px;border-bottom:1px solid #000;}

  /* Workarounds for chrome windows bugs */

  .windows #parchment, .windows #parchment input, .windows #notifications, .windows #instructions, .windows #achievements, .windows #achievement-notification, 
  .windows #playercount, .windows #credits, .windows #loadcharacter, .windows #confirmation, .windows #death, .windows #error, .windows #about, .windows #legal, 
  .windows #parchment p, .windows #portrait p, .windows .alert, .windows footer, .windows #population, .windows #chatinput {font-family:'AdvoCut';}