@import "vendor/jquery-ui";
@import "vendor/jquery-ui.structure";
//@import "vendor/jquery-ui.theme";

@import "vendor/bootstrap";

@import "variables";
@import "utils";

@import "jqueryUIModificaciones";
@import "bootstrapModificaciones";

@import "icons";
@import "borders";
@import "fonts";
@import "botones";
@import "formElements";

@import "global";
@import "general";
@import "footer";

@import "intro";
@import "login";
@import "crearPj";
@import "interfaz";
@import "itemgrid";
@import "../menus/popUps";