
/* Reglas generales de popUps*/
#popUp {z-index:1000;}
#popUp article { display:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);}
#popUp article{ font-size:12px;text-align:center; position:absolute;top:0;bottom: 1.5%;left: 0;right: 26%;margin: auto;} /* el 26% en right es para que se centre en la pantalla dejuego sin considerar la interfa de todo a la derecha*/
#popUp article input {border:none; outline:none; background: none; color: white; font: 1em;}
#popUp article ul {cursor:default;}
#popUp article span {color:white;display: inline-block;}
#popUp article input,article button,article ul,article span {position:absolute;}

/* -------- DEBUG ------- */
#popUp article input {outline: dashed 2px green;}
/* ---------------------- */

/* comerciar */
#comerciar {width:462px;height:486px;}
#comerciar {background-size: auto; background:url('../imagenes/popups/comerciar.jpg');}

#comerciarGridComprar {left:41px; top: 133px;}
#comerciarGridVender {left:263px; top: 133px;}

#comerciarBotonComprar {left:37px;top:415px;}
#comerciarBotonVender {left:260px;top:415px;}
#comerciarBotonCerrar {left:407px;top:27px;}

#comerciarInputCantidad {left:211px;top:438px; width:40px;}

#comerciarNombre {left:145px;top:47px;}
#comerciarPrecio {left:145px;top:70px;}
#comerciarMin {left:235px;top:70px;}
#comerciarMax {left:235px;top:88px;}


/* TirarItem */
#tirarItem {width:216px;height:100px; background:url('../imagenes/popups/tirar.jpg');}
#tirarItemInputCantidad{left:30px;top:30px;width:148px;height:24px;}
#tirarItemBotonTirar {left:7px;top:65px; width: 95px; height:25px;}
#tirarItemBotonTirarTodo {left:105px;top:65px;width: 105px; height:25px;}