#bovedaGridComprar {
  flex: 1;
  margin-right: 10px;
}

#bovedaGridVender {
  flex: 1 ;
}

#bovedaBotonRetirarOro {
  float: left;
}

#bovedaBotonDepositarOro {
  float: right;
}

#bovedaInputCantidadOro{
  width:100px;
}

#bovedaOroDisponibleLabel {
  font-size: 16px;
  margin-right: 5px;
}

#bovedaOroDisponibleVal {
  font-size: 16px;
}

#bovedaInputCantidadItem {
  width:100px;
}

#bovedaOroDisponible {
  display: block;
  font-size: 16px;
}

#bovedaMaxLabel {
  float: right;
  margin: auto 5px;
}

#bovedaMaxVal {
  float: right;
}

#bovedaMinLabel {
  margin-right: 5px;
}