#configurarTeclas {width:548px;height:500px;}
#configurarTeclasBotonCerrar {left:507px;top:12px;}
#configurarTeclasCancelar {left:2%; top:90%;}
#configurarTeclasRestaurarDefault {left:35%; top:90%;}
#configurarTeclasGuardarYSalir {left:68%; top:90%;}

#configurarTeclas input {font-size:12px;}
#configurarTecla_caminarNorte, #configurarTecla_caminarSur, #configurarTecla_caminarOeste, #configurarTecla_caminarEste, #configurarTecla_agarrar, #configurarTecla_toggleChat,
#configurarTecla_equipar, #configurarTecla_atacar,#configurarTecla_ocultarse, #configurarTecla_tirar, #configurarTecla_usar, #configurarTecla_agarrar {left:25.5%;}
#configurarTecla_cerrar, #configurarTecla_deslagear {left:76%;}

#configurarTecla_caminarNorte {top:7%;}
#configurarTecla_caminarSur {top:11%;}
#configurarTecla_caminarOeste {top:16%;}
#configurarTecla_caminarEste {top:21%;}
#configurarTecla_agarrar {top:31%;}
#configurarTecla_equipar {top:36%;}
#configurarTecla_ocultarse {top:41%;}
#configurarTecla_tirar {top:55%;}
#configurarTecla_usar {top:60%;}
#configurarTecla_atacar {top:65%;}
#configurarTecla_toggleChat {top:74%;}
#configurarTecla_cerrar {top:65%;}
#configurarTecla_deslagear {top:12%;}