#imagenMapa {
  width: 100%;
  height: 100%;
  background-size:100% 100%;
  background-image: url('../imagenes/popups/mapa1.jpg');
}

#imagenMapaDungeons {
  width: 100%;
  height: 100%;
  background-size:100% 100%;
  background-image: url('../imagenes/popups/mapa2.jpg');
}


#mapaIconoMapaGlobal{
  background-image: url('../imagenes/interfaz/iconos/map.png');
}

#mapaIconoMapaGlobal.active{
  background-image: url('../imagenes/interfaz/iconos/map_active.png');
}

#mapaIconoDungeons{
  background-image: url('../imagenes/interfaz/iconos/cave.png');
}

#mapaIconoDungeons.active{
  background-image: url('../imagenes/interfaz/iconos/cave_active.png');
}
