@import 'comerciar';
@import 'mensajeGlobal';
@import 'boveda';
@import 'inGameMensaje';
@import 'mapa';
@import 'opciones';
@import 'skills';
@import 'tirar';
@import 'clanes';

/* Reglas generales de popUps*/
.dialogContent {
  @extend .inner_border_default;
  padding: 8px;
  box-sizing: border-box;
  /*display:flex; flex:1;*/
  background: none;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabsContainer {
  @extend .inner_border_default;
  box-sizing: border-box;
  background: none;
}

.tabsFiller {
  background: /*rgba(0, 0, 0, 0.9)*/ url("../imagenes/background_tab.png") repeat;
  flex:1;
  margin-top:2px;
}

/* -------- DEBUG ------- */
/*.popUp * {outline: dashed 2px green;}
/* ---------------------- */