@import 'comerciar';
@import 'mensajeGlobal';
@import 'boveda';
@import 'inGameMensaje';
@import 'mapa';
@import 'opciones';
@import 'skills';
@import 'tirar';
@import 'clanes';

/* Reglas generales de popUps*/
.dialogContent {
  @extend .inner_border_default;
  box-sizing: border-box;
  /*display:flex; flex:1;*/
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: $text_font; /*default font */
}

.dialogContent input {
  @extend .activeColor, .everywhereFont;
  border: 1px solid rgba(0, 0, 0, 0.7);
  outline: none;
  color: white;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

.dialogContent ul {
  cursor: default;
}

.dialogContent span {
  display: inline-block;
  user-select: none;
  cursor: default;
}

.dialogContent .itemgrid {
  border: 1px solid #BBBDBF;
}

.dialogContent .itemgrid li {
  font-size: 13px;
}

/* -------- DEBUG ------- */
/*.popUp * {outline: dashed 2px green;}
/* ---------------------- */