#popUpSkillsContenedorPuntosLibres {margin: 10px; color:white;
  /*DEBUG:*/outline: dashed 2px green;  background-color:black;}

#popUpSkills {width:600px;height:450px;background:url('../imagenes/popups/skills.jpg');}
#popUpSkillsContenedorSkills {margin: 10px;   /*DEBUG:*/outline: dashed 2px green;  background-color:black;}
#popUpSkillsContenedorSkills span {position:relative; display:inline-block;}

.popUpSkillSkillElement {min-width: 150px; margin:10px; display: inline-block; color:white; outline: dashed 2px green; background: black;}
.botonMasSkill {margin-left:4px;position:relative; display: inline-block; background:url('../imagenes/botonMas.png'); width:16px; height:16px;}
.botonMasSkill:active {background-image: url("../imagenes/botonMasApretado.png");}
.botonMenosSkill {margin-left:1px; position:relative; display: inline-block; background:url('../imagenes/botonMenos.png'); width:16px; height:16px;}
.botonMenosSkill:active {background-image: url("../imagenes/botonMenosApretado.png");}

#skillsBotonAceptar {position:absolute; top:90%;left:62%}
#skillsBotonCancelar {position:absolute; top:90%;left:10%}
#skillsBotonCerrar {position:absolute; top:17px;left:540px}