#tirar {width:216px;height:100px;}
#tirarInputCantidad {left:30px;top:30px;width:148px;height:24px;}
#tirarBotonTirar {left:7px;top:65px; width: 95px; height:25px;}
#tirarBotonTirarTodo {left:105px;top:65px;width: 105px; height:25px;}