@import 'comerciar.css';

/* Reglas generales de popUps*/
.popUp {z-index:1000;}
.popUp article {display:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);}
.popUp article {font-size:12px;text-align:center; position:absolute;}
.popUp article input {border:none; outline:none; background: none; color: white; font-size: 1em;}
.popUp article ul {cursor:default;}
.popUp article span {color:white;display: inline-block; user-select: none; cursor: default;}
.popUp article input,article button,article ul,article span {position:absolute;}
.popUp article .itemgrid li {font-size:13px;}

/* -------- DEBUG ------- */
.popUp article input {outline: dashed 2px green;}
/* ---------------------- */

/* ------ POP UPS GLOBALES ------- */
/* Mensaje global */
#mensajeGlobal {width:266px;height:213px; background:url('../imagenes/popups/mensaje.jpg');z-index:99999;}
#mensajeContenido {text-align:left;top:37px;left:15px;width:230px;height:130px;font-size:16px;overflow:auto;}
#mensajeBotonCerrar {top:177px;left:80px; width:100px; height:30px;}

/* ------ POP UPS IN GAME ------- */
/* Mensaje in-game */
#inGameMensaje {width:266px;height:213px; background:url('../imagenes/popups/mensaje.jpg');z-index:99999;}
#inGameMensajeContenido {text-align:left;top:37px;left:15px;width:230px;height:130px;font-size:16px;overflow:auto;}
#inGameMensajeBotonCerrar {top:177px;left:80px; width:100px; height:30px;}

/* Tirar */
#tirar {width:216px;height:100px; background:url('../imagenes/popups/tirar.jpg');}
#tirarInputCantidad {left:30px;top:30px;width:148px;height:24px;}
#tirarBotonTirar {left:7px;top:65px; width: 95px; height:25px;}
#tirarBotonTirarTodo {left:105px;top:65px;width: 105px; height:25px;}

/* boveda */
#boveda {width:462px;height:532px;}
#boveda {background-size: auto; background:url('../imagenes/popups/boveda.jpg');}

#bovedaGridComprar {left:41px; top: 163px;}
#bovedaGridVender {left:270px; top: 163px;}

#bovedaBotonRetirarOro {position: absolute;left:70.5%; top:13%; width: 7.6%; height:9.2%;}
#bovedaBotonDepositarOro {position: absolute;left:23.5%; top:13%; width: 9%; height:9.2%;}
#bovedaBotonRetirarItem {position: absolute;left:48%; top:56%; width: 4.5%; height:2.2%;}
#bovedaBotonDepositarItem {position: absolute;left:48%; top:44%; width: 4.5%; height:2.2%;}
#bovedaBotonCerrar {left:407px;top:27px;}

#bovedaInputCantidadOro {left:235px;top:95px; width:66px; font-size:16px;}
#bovedaInputCantidadItem {left:215px;top:262px; width:52px; font-size:14px;}

#bovedaOroDisponible {left:238px;top:65px;font-size:16px;}
#bovedaNombre {left:155px;top:445px;font-size:16px;}
#bovedaMin {left:155px;top:465px;font-size:14px;}
#bovedaMax {left:155px;top:480px;font-size:14px;}

/* Mapa */
#popUpMapa {width:573px;height:528px; background:url('../imagenes/popups/mapa1.jpg');}
#mapaBotonCerrar {left:527px;top:12px;}
#mapaBotonToggle{position: absolute;left:45.5%; top:94%; width: 10%; height:5.2%;}

#popUpMapa.mapaSeccionB {background:url('../imagenes/popups/mapa2.jpg');}
#popUpMapa.mapaSeccionB #mapaBotonToggle {position: absolute;left:45.5%; top:0.5%; width: 10%; height:5.2%;}

/* Configurar teclas */
#configurarTeclas {width:548px;height:500px;background:url('../imagenes/popups/configurarTeclas.jpg');}
#configurarTeclasBotonCerrar {left:507px;top:12px;}
#configurarTeclasCancelar {left:2%; top:90%;}
#configurarTeclasRestaurarDefault {left:35%; top:90%;}
#configurarTeclasGuardarYSalir {left:68%; top:90%;}

#configurarTeclas input {font-size:12px;}
#configurarTecla_caminarNorte, #configurarTecla_caminarSur, #configurarTecla_caminarOeste, #configurarTecla_caminarEste, #configurarTecla_agarrar, #configurarTecla_toggleChat,
#configurarTecla_equipar, #configurarTecla_atacar,#configurarTecla_ocultarse, #configurarTecla_tirar, #configurarTecla_usar, #configurarTecla_agarrar {left:25.5%;}
#configurarTecla_cerrar, #configurarTecla_deslagear {left:76%;}

#configurarTecla_caminarNorte {top:7%;}
#configurarTecla_caminarSur {top:11%;}
#configurarTecla_caminarOeste {top:16%;}
#configurarTecla_caminarEste {top:21%;}
#configurarTecla_agarrar {top:31%;}
#configurarTecla_equipar {top:36%;}
#configurarTecla_ocultarse {top:41%;}
#configurarTecla_tirar {top:55%;}
#configurarTecla_usar {top:60%;}
#configurarTecla_atacar {top:65%;}
#configurarTecla_toggleChat {top:74%;}
#configurarTecla_cerrar {top:65%;}
#configurarTecla_deslagear {top:12%;}

/* Skills */

#popUpSkillsContenedorPuntosLibres {margin: 10px; color:white;   /*DEBUG:*/outline: dashed 2px green;  background-color:black;}
#popUpSkills {width:600px;height:450px;background:url('../imagenes/popups/skills.jpg');}
#popUpSkillsContenedorSkills {margin: 10px;   /*DEBUG:*/outline: dashed 2px green;  background-color:black;}
#popUpSkillsContenedorSkills span {position:relative; display:inline-block;}
.popUpSkillSkillElement {min-width: 150px; margin:10px; display: inline-block; color:white; outline: dashed 2px green; background: black;}
.botonMasSkill {margin-left:4px;position:relative; display: inline-block; background:url('../imagenes/botonMas.png'); width:16px; height:16px;}
.botonMasSkill:active {background-image: url("../imagenes/botonMasApretado.png");}
.botonMenosSkill {margin-left:1px; position:relative; display: inline-block; background:url('../imagenes/botonMenos.png'); width:16px; height:16px;}
.botonMenosSkill:active {background-image: url("../imagenes/botonMenosApretado.png");}
#skillsBotonAceptar {position:absolute; top:90%;left:62%}
#skillsBotonCancelar {position:absolute; top:90%;left:10%}
#skillsBotonCerrar {position:absolute; top:17px;left:540px}

/* Opciones */

#popUpOpciones {position:absolute; width:322px;height:480px;background:url('../imagenes/popups/opciones.jpg');}
#sliderMusica {position:absolute;width:40%; height:1.5%; top:14%; left:30%;}
#sliderSonido {position:absolute;width:40%; height:1.5%; top:18%; left:30%;}
#checkboxMusica{position:absolute;top:13.5%; left:8%;}
#checkboxSonido{position:absolute;top:16.6%; left:8%;}
#opcionesConfigurarTeclas {top:27%; left:25%;}
#opcionesBotonCerrar {top:4%; left:85%;}

